header {
    border: 1px solid goldenrod; 
  }

  nav li {
    margin: 10px 0 10px 0;
    display: inline-block;
  }

  a .disabled {
      color:rgba(155, 11, 203, 0.767);
  }

    .disabled {
    color:rgb(99, 98, 98);
}

.active {
    color: rgba(255, 219, 15, 0.74);
}

section .parent div:first-child {
    color:red;
}

section .parent div:nth-last-child(2) {
    color:blue;
}

.parent > div div:first-child  ~ h4:first-of-type{
    background-color:red;
}

.parent > div div:last-of-type ~ h4{
    background-color:rgb(85, 0, 255);
}

.grandparent > h4 {
    border: 1px solid;
    border-radius: 10px;
}

.promo {
    font-weight: bold;
    color: gold;
}

.padded > span input[type="text"]{
    height:25px;
}